fastapi>=0.83.0
uvicorn[standard]>=0.17.0
gunicorn>=21.2.0
python-multipart>=0.0.5
jinja2>=3.0.3
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
bcrypt>=4.0.0
httpx>=0.22.0
sqlalchemy>=1.4.54
pydantic>=1.9.2
python-dotenv>=0.20.0
